* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    position: relative;
}

.navbar {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 96px;
    width: 1440px;
    background: #FFFFFF;
    color: #012A4A;
    position: absolute;
    top: 0;  
    position: fixed;
    z-index: 1;
    
}

    .logo {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #012A4A;
        margin-left: 6rem;
        
    }

    .nav-links {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        width: 75%;
        /* position: sticky;
        top: 0; */
        /* width: 100%; */

    }

        .home,
        .feature,
        .about,
        .contact,
        .login,
        .account {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;
            color: #012A4A;
            padding: 10px 20px;
            margin: 0 10px;
            cursor: pointer;
        }

        .home {
            color: #4361EE;
        }

        .account {
            width: 190px;
            height: 48px;
            background: linear-gradient(105.38deg, #4361EE 19.05%, #3A0CA3 82.03%, #3A0CA3 82.03%);
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px 24px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            margin-right: 6rem;

        }
    

    .mobile-menu-icon {
        display: none;
    }

    @media only screen and (min-width: 1280px) {



    }

    @media only screen and (max-width: 1024px){
        .logo {
            display: flex;
            position: absolute;
            top: 15px;
            left: 35px;
            margin-left: -0.5rem;
           
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            position: static;
            width: 0;
        }
    
        .nav-links {
            display: none;
        }
    
        .nav-links-mobile {
            display: block;
            position: absolute;
            list-style: none;
            background-color: #012A4A;
            left: 0;
            top: 75px;
            transition: all 0.5s ease-out;
            width: 100%;
        }
    
    .home,
    .about,
    .contact,
    .feature,
    .login,
    .account {
    
        color: white;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    
    }
    
    .account {
        border: none;
        margin-left: auto;
        margin-right: auto;
        
    }
    
    .mobile-menu-icon {
        display: block;
        position: absolute;
        font-size: 30px;
        color: #012A4A;
        border: none;
        outline: none;
        top: 15px;
        right: 25px; 
    }

}

    



