* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-container {
    /* position: relative; */
    position: fixed;
    top: 0;
}

.navbar1 {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 96px;
    width: 1440px;
    background: #F5F5F5;
    color: #012A4A;
    /* position: absolute; */
    /* top: 0;  
    position: fixed; */
    /* z-index: 1; */
    
}

    .nav-logo {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #012A4A;
        margin-left: 6rem;
        
    }

    .hero {
        width: 75%;
        margin-right: 6rem;
    }

 

        .nav-home,
        .nav-feature
         {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;
            color: #012A4A;
            padding: 10px 10px;
            margin: 0 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav-feature {
            margin-left: 10px;
        }


    .mobile-menu-icon {
        display: none;
    }

    @media only screen and (min-width: 1280px) {



    }

    @media only screen and (max-width: 1024px){
        .nav-logo {
            display: flex;
            position: absolute;
            top: 15px;
            left: 35px;
            margin-left: -0.5rem;
           
        }

        .nav-container{
            position: relative;
        }

        .navbar1 {
            display: flex;
            justify-content: space-between;
            position: static;
            width: 0;
            
        }
    
        .hero {
            display: none;
        }
    
        .heroLinks {
            display: block;
            position: absolute;
            list-style: none;
            background-color: red;
            left: 0;
            top: 75px;
            transition: all 0.5s ease-out;
            width: 100%;
        }
    
    .nav-home,
    .nav-feature
    {
    
        color: white;
        text-align: center;
        padding: 32px;
        width: 100%; 
        transition: all 0.5s ease;
    
    }
        
    .mobile-menu-icon {
        display: block;
        position: absolute;
        font-size: 30px;
        color: #012A4A;
        border: none;
        outline: none;
        top: 15px;
        right: 25px; 
    }

}

    



